<html lang='ru'>
  <head>
    <meta charset='utf-8' />
    <title>Телефонный справочник</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'
      integrity='sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn'
      crossorigin='anonymous'
    />
    <style>
      .phbook { color: white; border-radius: 30px; padding-top: 3px;
      padding-bottom: 3px; padding-left: 3px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='py-5 text-left'>
        <h2>Список абонентов</h2>
      </div>
      <table class='table' id='subscribers_table'>
        <thead>
          <tr>
            <th>ID Абонента</th>
            <th>Имя абонента</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Возраст</th>
            <th>Адрес</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{surname}}</td>
              <td>{{number}}</td>
              <td>{{age}} года</td>
              <td>{{address}}</td>
              <td>
                <a
                  href='javascript:void(0);'
                  class='btn btn-sm btn-secondary phbook edit phbook'
                  data-id='{{id}}'
                  data-name='{{name}}'
                  data-surname='{{surname}}'
                  data-number='{{number}}'
                  data-age='{{age}}'
                  data-address='{{address}}'
                >Изменить</a>
                <a
                  href='javascript:void(0);'
                  class='btn btn-sm phbook btn-danger remove'
                  dataid='{{id}}'
                >Удалить</a>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan='5' class='text-center'>Нет данных для отображения на
                форме</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <button
        class='btn btn-success float-right'
        data-toggle='modal'
        data-target='#newSubscriberModal'
      >Добавить нового абонента</button>
    </div>
    <!-- Новое окно добавления пользователя -->
    <form action='/save' method='post'>
      <div class='modal fade' id='newSubscriberModal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h4 class='modal-title'>Добавление нового пользователя</h4>
              <button type='button' class='close' data-dismiss='modal'>
                <span>&times;</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='form-group'>
                <input
                  type='text'
                  name='name'
                  class='form-control'
                  placeholder='Имя абонента'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='surname'
                  class='form-control'
                  placeholder='Фамилия
абонента'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='number'
                  class='form-control'
                  placeholder='Номер телефона'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='number'
                  name='age'
                  class='form-control'
                  placeholder='Возраст'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='address'
                  class='form-control'
                  placeholder='Адрес'
                  required='required'
                />
              </div>
            </div>
            <div class='modal-footer'>
              <button
                type='button'
                class='btn btn-secondary'
                data-dismiss='modal'
              >Закрыть</button>
              <button
                type='submit'
                class='btn btn-success phbook'
              >Создать</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Окно редактирования данных абонента-->
    <form action='/update' method='post'>
      <div class='modal fade' id='editSubscriberModal' role='dialog'>
        <div class='modal-dialog' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h4 class='modal-title'>Изменить пользователя</h4>
              <button type='button' class='close' data-dismiss='modal'>
                <span>&times;</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='form-group'>
                <input
                  type='text'
                  name='name'
                  class='form-control name'
                  placeholder='Имя абонента'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='surname'
                  class='form-control surname'
                  placeholder='Фамилия абонента'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='number'
                  class='form-control number'
                  placeholder='Номер телефона'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='number'
                  name='age'
                  class='form-control age'
                  placeholder='Возраст'
                  required='required'
                />
              </div>
              <div class='form-group'>
                <input
                  type='text'
                  name='address'
                  class='form-control address'
                  placeholder='Адрес'
                  required='required'
                />
              </div>
            </div>
            <div class='modal-footer'>
              <input type='hidden' name='id' class='subscriber_id' />
              <button
                type='button'
                class='btn btn-secondary'
                data-dismiss='modal'
              >Закрыть</button>
              <button
                type='submit'
                class='btn btn-success phbook'
              >Обновить</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Окно удаления абонента из списка-->
    <form id='add-row-form' action='/remove' method='post'>
      <div
        class='modal fade'
        id='removeSubscriberModal'
        role='dialog'
        aria-labelledby='myModalLabel'
      >
        <div class='modal-dialog'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h4 class='modal-title'>Удалить пользователя</h4>
              <button type='button' class='close' data-dismiss='modal'><span
                >&times;</span></button>
            </div>
            <div class='modal-body'>
              Вы действительно хотите удалить данного пользователя?
            </div>
            <div class='modal-footer'>
              <input
                type='hidden'
                name='subscriber_id'
                class='form-control subscriber_id_removal'
                required='required'
              />
              <button
                type='button'
                class='btn btn-secondary'
                data-dismiss='modal'
              >Закрыть</button>
              <button
                type='submit'
                class='btn btn-danger phbook'
              >Удалить</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script
      src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
      integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
      integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
      crossorigin='anonymous'
    ></script>
    <script>
      $(document).ready(function () { $('#subscribers_table').on('click',
      '.edit', function () { $('#editSubscriberModal').modal('show');
      $('.subscriber_id').val($(this).data('id'));
      $('.name').val($(this).data('name'));
      $('.surname').val($(this).data('surname'));
      $('.number').val($(this).data('number'));
      $('.age').val($(this).data('age'));
      $('.address').val($(this).data('address')); }).on('click', '.remove',
      function () { $('#removeSubscriberModal').modal('show');
      $('.subscriber_id_removal').val($(this).data('id')); }); });
    </script>
  </body>
</html>